<div class="Header">
    <div class="HeaderBg"></div>
    <div class="TitleFrame" onclick="location.assign('/')">
        <div class="Title">
            M<span style="color: #FF5119">Y</span>KA
        </div>
    </div>
</div>
