<div id="<%= id %>" class="UserCardFrame UserReference">
    <div class="UserCardBg"></div>
    <img class="UserProfilePicture" src="<%= profile_picture_url %>" alt="user_pfp" width="100%" height="100%">
    <div class="UserFirstName">
        <%= first_name %>
    </div>
    <div class="UserLastName">
        <%= last_name %>
    </div>
    <div class="EnterButton clickable">
        <i class="fa-regular fa-circle-user centred"></i>
    </div>
</div>
